/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Fix appearance of table headers
table.mat-table {
	tr.mat-header-row {
		height: 2.25rem;
		background-color: rgba(0, 0, 0, 0.045);

		th.mat-header-cell {
			font-size: 90%;
			font-weight: bold;
		}
	}

	tr.mat-row {
		height: 1.75rem;

		&:hover {
			background-color: rgba(0, 0, 0, 0.035);

			td.cell-actions .mat-icon {
				display: block;
				float: right;
				font-size: 20px;
				color: rgba(10, 10, 10, 0.5);

				&.cell-action-delete {
					color: #db2828;
				}
			}
		}
	}

	td.cell-actions {
		.mat-icon {
			display: none;
			cursor: pointer;
		}
	}
}

// Size and position the clear button on grid filters
.grid-clear-button {
	&.mat-icon-button {
		left: 0;
		top: -1px;
		height: 16px;
		width: 16px;
		margin-left: -16px;

		span.mat-button-wrapper {
			position: absolute;
			left: 0;
			top: -1px;
			height: 16px;
			width: 16px;
		}

		mat-icon.material-icons {
			font-size: 16px;
			line-height: 1.125;
			position: absolute;
			left: 0;
			top: -1px;
			height: 16px;
			width: 16px;
			opacity: 0.25;
		}
	}
}
