<form [formGroup]="comicForm" (ngSubmit)="onSubmit($event, comicForm.value)" ngClass.xs="smalltext">
	<!-- fxLayout="row|column|row-reverse|column-reverse|row-wrap"-->
	<!-- fxLayoutAlign="start|center|end|space-around|space-between start|center|end|space-around|space-between" // mainAxis crossAxis-->
	<div flex fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="center start">
		<!-- fxFlex defaults to %; can be any unit of measure (e.g. px, vh, vw or %) -->
		<mat-form-field fxFlex="100">
			<input matInput placeholder="Comic Title" formControlName="title" required>
			<mat-error *ngFor="let validation of validation_messages.name">
				<mat-error class="error-message" *ngIf="formField.title.hasError(validation.type) && (formField.title.dirty || formField.title.touched)">{{validation.message}}</mat-error>
			</mat-error>
		</mat-form-field>
	</div>

	<div flex fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between end" fxLayoutAlign.lt-sm="center start" fxLayoutGap="10px">
		<mat-form-field fxFlex="32">
			<input matInput placeholder="Issue Number" formControlName="issueNumber">
			<mat-error *ngFor="let validation of validation_messages.address">
				<mat-error class="error-message" *ngIf="formField.issueNumber.hasError(validation.type) && (formField.issueNumber.dirty || formField.issueNumber.touched)">{{validation.message}}</mat-error>
			</mat-error>
		</mat-form-field>
		<mat-form-field fxFlex="32">
			<input matInput [matDatepicker]="picker" placeholder="Purchase Date" formControlName="purchaseDate">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
		<mat-form-field fxFlex="32">
			<mat-select placeholder="Vendor" formControlName="vendorId">
				<mat-option>None</mat-option>
				<mat-option *ngFor="let vendor of vendors" [value]="vendor.vendorId">
					{{vendor.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div flex fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between end" fxLayoutAlign.lt-sm="center start" fxLayoutGap="10px">
		<mat-form-field fxFlex="32">
			<input matInput placeholder="Estimated Value" formControlName="estimatedValue" type="number">
			<mat-error *ngFor="let validation of validation_messages.address">
				<mat-error class="error-message" *ngIf="formField.issueNumber.hasError(validation.type) && (formField.issueNumber.dirty || formField.issueNumber.touched)">{{validation.message}}</mat-error>
			</mat-error>
		</mat-form-field>
		<mat-form-field fxFlex="32">
			<mat-select placeholder="Condition" formControlName="conditionCodeId">
				<mat-option>None</mat-option>
				<mat-option *ngFor="let code of conditionCodes" [value]="code.conditionCodeId">
					{{code.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div flex fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between baseline" fxLayoutAlign.lt-sm="center start">
		<mat-form-field fxFlex="100">
			<textarea matInput placeholder="Description" formControlName="description" rows="8" style="background-color: rgba(255,255,255,0.25);border: solid 0.5px #ccc;padding:0.5rem"></textarea>
		</mat-form-field>
	</div>

	<div flex fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center start">
		<button class="btn btn-secondary" style="margin-right: 4rem" type="reset" (click)="onCancel($event)">
			Cancel
		</button>

		<button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!comicForm.valid">
			Submit
		</button>
	</div>
</form>
