<div class="gr-titlebar noselect">
	<div class="gr-titlebar-title">
		{{title}}
	</div>
	<div class="gr-titlebar-buttons">
		<div style="display:flex;align-items: stretch">
			<app-button-icon icon="remove_circle" title="Hide/Show Filters"
				(click)="filters.showFilters = !filters.showFilters" [ngClass]="{'gr-hide': !filters}">
			</app-button-icon>
			<app-button-icon icon="remove_circle_outline" title="Clear All Filters"
				(click)="filters.clearFiltersInCache()" [ngClass]="{'gr-hide': !filters}">
			</app-button-icon>
			<app-button-icon icon="save_alt" title="Download All Matches" (click)="displayAllMatches(true)">
			</app-button-icon>
			<app-button-icon icon="zoom_in" title="Display All Matches" (click)="displayAllMatches(false)">
			</app-button-icon>
			<div class="gr-vertical-line"></div>
			<app-button-icon icon="view_column" title="Select Columns" [matMenuTriggerFor]="selectColumnsMenu">
			</app-button-icon>
			<mat-menu #selectColumnsMenu="matMenu">
				<ng-container *ngFor="let column of columns">
					<button mat-menu-item (click)="toggleColumn(column)">
						<mat-icon class="gr-icon">{{column.displayed ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
						<span>{{column.columnName}}</span>
					</button>
				</ng-container>
			</mat-menu>
			<div class="gr-vertical-line"></div>
			<ng-content></ng-content>
		</div>
	</div>
</div>