.gr-vertical-line {
	border-left: 2px solid #bbb;
	margin: 0 0 0 0.5rem;
}

.mat-menu-item {
	line-height: 28px;
	height: 28px;
	padding: 0 8px;
}
.mat-menu-item .mat-icon.gr-icon {
    margin-right: 4px;
    vertical-align: middle;
}
