<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']" style="font-family: 'Comic Sans MS'">Sidekick</a>
			<button class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target=".navbar-collapse"
					aria-label="Toggle navigation"
					[attr.aria-expanded]="isExpanded"
					(click)="toggle()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
				 [ngClass]="{ show: isExpanded }">
				<ul class="navbar-nav flex-grow">
					<button mat-button style="outline: none" routerLink="/comics-search" [routerLinkActive]="['link-active']">Home</button>
					<button mat-button [matMenuTriggerFor]="comics_menu" style="outline: none">Comics</button>
					<mat-menu #comics_menu="matMenu">
						<button mat-menu-item style="outline: none" routerLink="/comics-search" [routerLinkActive]="['link-active']">Search</button>
						<button mat-menu-item style="outline: none" routerLink="/comic-add" [routerLinkActive]="['link-active']">Add</button>
					</mat-menu>
					<button mat-button [matMenuTriggerFor]="vendor_menu" style="outline: none">Vendors</button>
					<mat-menu #vendor_menu="matMenu">
						<button mat-menu-item style="outline: none" routerLink="/vendors-search" [routerLinkActive]="['link-active']">Search</button>
						<button mat-menu-item style="outline: none" routerLink="/vendor-add" [routerLinkActive]="['link-active']">Add</button>
					</mat-menu>
					<button mat-button [matMenuTriggerFor]="comics_menu" style="outline: none">Comic Vine</button>
					<mat-menu #comics_menu="matMenu">
						<button mat-menu-item style="outline: none" routerLink="/comicvine-series" [routerLinkActive]="['link-active']">Series</button>
						<button mat-menu-item style="outline: none" routerLink="/comicvine-issues" [routerLinkActive]="['link-active']">Issues</button>
						<button mat-menu-item style="outline: none" routerLink="/comicvine-publishers" [routerLinkActive]="['link-active']">Publishers</button>
					</mat-menu>
				</ul>
			</div>
		</div>
	</nav>
</header>
