div.gr-messagebar {
	height: 2.0em;
	min-height: 2.0em;
	background-color: #ddd;
	border: 1px solid #ededed;

	.gr-message {
		height: 1.0em;
		min-height: 2.0em;
		margin-top: 0.5em;
		margin-left: 1em;
		color: #db2828;
		font-style: italic;
	}
}

mat-progress-bar {
	height: 0.5em;
	margin-top: 0.75em;
	border: 1px solid #ededed;

	&.gr-hide {
		display: none;
	}
}	
